@font-face {
  font-family: "poppins";
  src: url("assets/fonts/Poppins-Regular.woff") format('woff');
  font-weight:400
}

@font-face {
  font-family: "myfont";
  src: url("assets/fonts/Poppins-Bold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "myfont";
  src: url("assets/fonts/Poppins-Italic.woff") format('woff');
  font-style: italic;
}


body {
  font-family: poppins;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color:black;
  /* margin-top :75px; */
  background-image: url('assets/images/breakchain/homepage-bg-white.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header {
  background-color: white;
  position: absolute;
  display: block;
  /* overflow:visible; */
  top: 0px; 
  left: 0px;
  /* min-height: 75px; */
  width:100%;
  /* margin-bottom:20px; */
  /* padding:10px 10px; */
}
.enterbutton {
  display:block;
  float:right;
  padding:6px 20px;
  margin: 10px 10px;
  background-color: blue;
  border-radius:5px;
}
.priceticker {
  display: block;
  float: left;
  color: black;
  font-size:1.5em;
  /* font-family:'poppins'; */
  margin: 10px 10px;
}
.main {
  margin-top:155px;
  margin-bottom:80px;
  background-color: white;
  display: flex;
  justify-content: center;
  /* text-align: center; */
  overflow:hidden;
  /* height: 500px; */
  width:100%;
}
.maintext {
  
}
.footer {
  padding:10px 10px;
  margin:0 0;
  /* height: 150px; */
  display: block;
  /* position: absolute; */
  /* bottom: 0px; */
  left:0px;
  width: 100%;
  background-color: white;
  color:black;
}
.partnerholder {
  display: flex;
}
.partner {
  /* display: block; */
  /* float:left; */
  /* padding: 5px; */
  flex:1 1 auto;
}
.logo {
  margin: 10px;
}
.statbox {
  display:block;
  height:80px;
  width:80px;
  float:left;
  background-color: #333333;
  color:white;
  margin-bottom: 10px;
  border-radius:5px;
  text-align: center;
  font-size: smaller;
  
}
.statholder {
  display:block;
  width:80px;
  margin:10px;
  float:right;
}
.footertitle {
  text-align:center;
  margin-top:0;
  font-size:1.5em;
  font-family:'Arial Black';
}