@font-face {
  font-family: "poppins";
  src: url("assets/fonts/Poppins-Regular.woff") format('woff');
  font-weight:400
}

@font-face {
  font-family: "myfont";
  src: url("assets/fonts/Poppins-Bold.woff") format('woff');
  font-weight: bold;
}

@font-face {
  font-family: "myfont";
  src: url("assets/fonts/Poppins-Italic.woff") format('woff');
  font-style: italic;
}


body {
  font-family: poppins;
  font-weight: bold;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color:black;
  /* margin-top :75px; */
  background-image: url('assets/images/breakchain/homepage-bg-white.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.header {
  background-color: #001DA3;
  position: absolute;
  display: block;
  /* overflow:visible; */
  top: 0px; 
  left: 0px;
  /* min-height: 75px; */
  width:100%;
  
  // margin-bottom:80px;
  /* padding:10px 10px; */
}
.enterbutton {
  float: right;
  margin:4px 10px;
}
.priceticker {
  display: block;
  float: left;
  color:white;
  font-size:1.2em;
  /* font-family:'poppins'; */
  margin: 5px 10px;
}
.partners {
  padding:10px 10px;
  /* margin:0 0; */
  // margin-bottom:80px;
  /* height: 150px; */
  display: block;
  /* position: absolute; */
  /* bottom: 0px; */
  left:0px;
  width: 100%;
  background-color: white;
  color:black;
}
.partnerholder {
  display: flex;
  flex-wrap: wrap;
}
.partner {
  /* display: block; */
  /* float:left; */
  /* padding: 5px; */
  flex:1 1 auto;
}
.logo {
  margin: 10px;
}
.statbox {
  display:block;
  height:80px;
  width:80px;
  float:left;
  background-color: #333333;
  color:white;
  margin-bottom: 10px;
  border-radius:5px;
  text-align: center;
  font-size: smaller;
  
}
.statholder {
  display:block;
  width:80px;
  margin:10px;
  float:right;
}
.partnerstitle {
  text-align:center;
  margin-top:0;
  font-size:1.5em;
  font-family:'Arial Black';
}
.footer {
  background-color: #001DA3;
  display: block;
  width:100%;
  min-height:150px;
}
.social-row {
  display: flex;
  flex-flow: row;
  margin-top: 10px;
  justify-content: space-evenly;
  padding: 30px 10px;
  width: 200px;
  a {
    &:hover {
      text-decoration: none;
    }
    div {
      color:white;
      font-size:1.5em;
      &:hover {
        color:#32CBFF;
        font-size:1.6em;
      }
    }
  }
  
}

SvgIcon {
  // height: 20px;
  // width: 20px;
  fill:white;
  color:white;
  background-color: white;
}
.dapp-menu-social {
  display:block;
  float:left;
  width:200px;
}
.emailSection {
  float:right;
  margin: 20px 10px;
}


.btn-arr {
  display: inline-block;
  padding: 1vw 1.85vw;
  -webkit-align-self: flex-start;
  -ms-flex-item-align: start;
  align-self: flex-start;
  border-radius: 100vw;
  box-shadow: inset 0 0 0 2px #141722;
  -webkit-transition: all 1000ms cubic-bezier(.215, .61, .355, 1);
  transition: all 1000ms cubic-bezier(.215, .61, .355, 1);
  color: #efe9e0;
  font-size: 0.9vw;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 0em;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn-arr:hover {
  background-color: transparent;
}

.btn-arr.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #141722;
  color: #141722;
}

.btn-arr.alt:hover {
  background-color: #141722;
}

.btn-arr.alt.light {
  box-shadow: inset 0 0 0 2px #efe9e0;
  color: #efe9e0;
}

.btn-arr.featured-blog {
  display: inline-block;
  background-color: #efe9e0;
  box-shadow: none;
}

.btn-arr.rotate-180 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.btn__arrow-icon__2 {
  position: absolute;
  left: -50%;
  top: 0px;
  display: block;
  width: 1.4vw;
  max-width: 26.88px;
  opacity: 0;
  -webkit-transition: all 550ms cubic-bezier(.455, .03, .515, .955);
  transition: all 550ms cubic-bezier(.455, .03, .515, .955);
}
.main {
  margin-top:125px;
  margin-bottom:80px;
  background-color: white;
  // display: flex;
  // flex-wrap:nowrap;
  // justify-content: space-between;
  /* text-align: center; */
  overflow:hidden;
  /* height: 500px; */
  max-width:100%;
  // height:400px;
}
.maintext {
  display:inline-block;
}
.slideBlock {
  display: inline-block;
}
.slides1 {
  animation:12s linear infinite running slider;
  display: inline-block;
  white-space: nowrap;
  overflow:hidden;
}
@keyframes slider {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-25%, 0, 0);
  }
}
@keyframes slidein1 {
  from {
    margin-left: 0%;
  }

  to {
    margin-left: -100%;
  }
}
@keyframes slidein2 {
  from {
    margin-left: 100%;
  }

  to {
    margin-left: 0%;
  }
}
.videos {
  margin-bottom:80px;
  background-color: white;
  overflow:hidden;
  max-width:100%;
}

